.carousel-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    background-color: rgba(6, 116, 242, 0.688);
    border-radius: 7px;
    padding: 20px;
}

.contents-container {
    display: flex;
    gap: 20px;
}

.text-container {
    padding: 10px;
}

.text {
    font-size: 2.2rem;
}

.paragraph {
    margin-bottom: 30px;
}

.author {
    font-size: 2rem;
    margin-bottom: 5px;
}

.author-img {
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

.company {
    font-size: 2rem;
    margin-top: 0;
}